* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
}

td {
    padding-left: 1em;
}

body {
    background: url("./images.webp") no-repeat;
    background-size: cover;
    text-align: start;
}

i {
    font-size: 2em;
    text-align: center;
}

.header i {
    font-size: 1.5em;
}

.container>div {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

.store, .health, .map {
    margin-left: 1em;
}

.container {
    display: grid;
    grid-template-columns: 0.7fr 0.7fr 0.7fr 2fr 1fr 0.5fr 0.5fr 1fr 1fr ;
    grid-template-rows: 0.5fr 0.5fr 2fr 2fr 0.5fr 0.5fr ;
    grid-template-areas:
        "mail mail mail calendar iexplorer video music store store"
        "mail mail mail calendar iexplorer games camera store store"
        "sports sports sports money tips onedrive onedrive store store"
        "people skype skype weather photos onenote onenote health food"
        "desktop rdp setting weather news news news map reading"
        "desktop explorer pics weather news news news map reading"
    ;
    grid-gap: 0.3em;
    background-color: transparent;
    margin: 3em;
}

.mail {
    grid-area: mail;
    background-color: #2672EC;
}

.calendar {
    grid-area: calendar;
    background-color: #5133AB;
}

.iexplorer {
    grid-area: iexplorer;
    background-color: #2672EC;
}

.video {
    grid-area: video;
    background-color: #AC193D;
}

.music {
    grid-area: music;
    background-color: #D24726;
}

.games {
    grid-area: games;
    background-color: #008A00;    
}

.camera {
    grid-area: camera;
    background-color: #8C0095;
}

.sports {
    grid-area: sports;
    background-color: #5133AB;
}

.money {
    grid-area: money;
    background-color: #008A00;    
}

.tips {
    grid-area: tips;
    background-color: #D24726;
}

.onedrive {
    grid-area: onedrive;
    background-color: #0A5BC4;
}

.store {
    grid-area: store;
    background-color: #008A00;    
}

.people {
    grid-area: people;
    background-color: #D24726;
}

.skype {
    grid-area: skype;
    background-color: #00aff0;
}

.weather {
    grid-area: weather;
    background-color: #2672EC;
}

.photos {
    grid-area: photos;
    background-color: #00A0B1;
}

.onenote {
    grid-area: onenote;
    background-color: #7218A5;
}

.health {
    grid-area: health;
    background-color: #D24726;
}

.food {
    grid-area: food;
    background-color: #00A0B1;
}

.desktop {
    grid-area: desktop;
    background: url("./image.jpg") no-repeat;
    background-size: cover;
}

.rdp {
    grid-area: rdp;
    background-color: #094AB2;
}

.setting {
    grid-area: setting;
    background-color: #5133AB;
}

.explorer {
    grid-area: explorer;
    background-color: gray;
}

.pics {
    grid-area: pics;
    background-color: #094AB2;
}

.news {
    grid-area: news;
    background-color: #AC193D;
}

.map {
    grid-area: map;
    background-color: #8C0095;
}

.reading {
    grid-area: reading;
    background-color: #AC193D;
}




